@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    background-color: rgb(50, 81, 110);

}

button{
    background-color: rgb(255, 255, 255);
    padding: 15px 100px;
}
.button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background: #69e673;
} 

h1{
    color: white;

}